.Input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.Label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.InputElement{
    display: block;
    outline: none;
    background-color: white;
    border: 1px solid #ccc;
    font: inherit;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}

.Invalid{
    border: 1px solid red;
    background-color: rgb(230, 141, 132);
}